@model MVCWorkShop2.Models.LBSearchArg
@{
    ViewBag.Title = "Index";
}

<h2>查詢書籍</h2>
@using (Html.BeginForm("Index", "Library", FormMethod.Post, new { id = "Form1" }))
{
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.BookId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookId, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BookClassName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookClassName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BookKeeper, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookKeeper, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BookStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookStatus, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <input type="submit" value="查詢" />
            <input type="date" id="bought_datepicker" name="bought_datepicker" data-bind="value: BookBoughtDate" style="width:100%" required />
            @Html.ActionLink("新增員工", "InsertEmployee")
            @Html.ActionLink("清除", "Index")
        </div>
    </div>
    <div id="grid">
    </div>
</div>
}
<script type="text/javascript">
    var bookCategoryList = [
    { text: "資料庫", value: "database", src: "image/database.jpg" },
    { text: "網際網路", value: "internet", src: "image/internet.jpg" },
    { text: "應用系統整合", value: "system", src: "image/system.jpg" },
    { text: "家庭保健", value: "home", src: "image/home.jpg" },
    { text: "語言", value: "language", src: "image/language.jpg" }
    ];
    $(document).ready(function () {
        //ajax
        var postBody = {
            "BookId": "1"
        }
        $.ajax({
            type: "POST",
            url: "/Library/Index",
            data: postBody,
            dataType: "json",
            success: function (response) {
                console.log(response);
                console.log("su");
            },
            error: function (error) {
                console.log(error);
                console.log("er");
            }
        });
        kendo.culture("zh-TW");
        $("#bought_datepicker").kendoDatePicker({
        format: "yyyy-MM-dd",
        parseFormats: ["yyyy/MM/dd", "yyyyMMdd"],
        dateInput: true
        });
        $("#book_class").kendoDropDownList({ 
        dataTextField: "text",
        dataValueField: "value",
        dataSource: bookCategoryList
        });
       
    });
</script>
